* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background-color: aliceblue;
}

.container {
   max-width: 1080px;
   margin: auto;
}

h1 {
   font-size: 22px;
   color: blueviolet;
   margin: 20px 0;
}

h3 {
   text-transform: lowercase;
   margin-bottom: 10px;
}

p {
   color: red;
   font-size: 14px;
}
